---
# tasks file for common
- block:
  - name: add admin user
    command: ./bin/add-user.sh -e -cw -u admin password chdir="{{ path }}/{{ wildfly_dir }}"

  - name: Copy wildfly config file
    copy:
      src: conf.j2
      dest: /etc/default/wildfly.conf

  - name: Copy wildfly script 
    copy:
      src: wildfly.sh
      dest: /etc/init.d
      mode: '0700'
  tags: [wildfly_config]

- block:
  - name: create oracle driver directory
    file:
      path: "{{ oracle }}"
      state: directory
      mode: 0755
      owner: wildfly

  - name: Copy oracle xml file
    copy:
      src: module.xml
      dest: "{{ oracle }}"

  - name: Copy oracle jar file
    copy:
      src: "/opt/ojdbc14.jar"
      dest: "{{ oracle }}"

  - name: Copy standalone xml file
    copy:
      src: standalone.xml
      dest: "{{ standalone }}"
  tags: [install oracle driver]

- block:
  - name: enable wildfly server script
    shell: chkconfig --add wildfly.sh

  - name: enable wildfly server on startup
    shell: chkconfig wildfly.sh on

  - name: restart wildfly in all cases 
    service:
      name: wildfly
      state: restarted
  tags: [start_server]
