---
# tasks file for common

- block:
  - name: upgrade all packages
    yum: name=* state=latest

  - name: install java 
    yum:
      name: "{{ java }}"
      state: present

  - name: install unzip
    yum:
      name: "{{ unzip }}"
      state: present
  tags: [init]
