---
# tasks file for common

- block:
#  - name: upgrade all packages
#    yum: name=* state=latest

  - name: install java 
    yum:
      name: "{{ java_version }}"
      state: present

  - name: install unzip
    yum:
      name: {{ unzip_version }}
      state: present
  tags: [init]

- block:
  - name: check wildfly existence
    stat:
      path: "/opt/{{ wildfly_src }}"
    register: ex

  - name: download wildfly
    get_url:
      url: http://download.jboss.org/wildfly/9.0.0.Final/wildfly-9.0.0.Final.zip
      dest: "/opt/{{ wildfly_src }}"
      mode: 0740
    when: "ex.stat.exists == false"

  - unarchive:
      src: "/opt/{{ wildfly_src }}"
      dest: /opt/
      remote_src: True

  - name: check user wildfly exist
    command: grep -c '^wildfly' /etc/passwd
    register: exist
    failed_when: "exist.rc == 2"
    changed_when: false

  - name: add wildfly user
    command: useradd wildfly
    when: "exist.rc == 1"

  - name: change owner of wildfly home
    file:
      path: "/opt/{{ wildfly_ver }}"
      state: directory
      owner: wildfly
      recurse: yes
  tags: [config_dir]

